
<tr class="activate">
	<td height="27"></td>
</tr>
<tr class="activate">
	<td>
		<div class="activate__title">You can also activate MacKeeper by contacting <br>our Support team.</div>
	</td>
</tr>
<tr class="activate">
	<td height="25"></td>
</tr>
<tr class="activate">
	<td>
		<table class="activate__table" cellspacing="0" cellpadding="0" width="100%"><tr><td align="center">
			<table align="center" class="activate__tableinside" width="430" cellpadding="0" cellspacing="0">
				<tr>
					<td>
						<table cellspacing="0" cellpadding="0" width="220">
							<tr class="activate__phone"><td>
								<span class="activate__country">US</span> &nbsp;
								<span class="activate__number">1 (888) 572-5876</span>
							</td></tr>
							<tr class="activate__phone"><td>
								<span class="activate__country">AU</span> &nbsp;
								<span class="activate__number">1 (800) 462-715</span>
							</td></tr>
							<tr class="activate__phone"><td>
								<span class="activate__country">UK</span> &nbsp;
								<span class="activate__number">0 (808) 189-1280</span>
							</td></tr>
						</table>
					</td>
					<td align="right">
						<img src="img/247.png" alt="Call us 24/7 on any matter." width="117" height="117" alt="">
					</td>
				</tr>
			</table>
		</td></tr></table>
	</td>
</tr>
<tr class="activate">
	<td height="27"></td>
</tr>