<tr>
	<td height="31"></td>
</tr>
<tr class="content">
	<td>
		<div class="content__title">Need help with activation of MacKeeper?</div>
		<img src="img/helppromo.jpg"  alt="">
		<div class="content__username">Hi <%username%/>,</div>
	</td>
</tr>
<tr>
	<td height="15"></td>
</tr>
<tr class="content">
	<td>
		<div class="content__subtitle">We’ve noticed that you hadn’t activated your<br> purchased license yet.</div>
	</td>
</tr>
<tr>
	<td height="32"></td>
</tr>
<tr class="content">
	<td>
		<div class="content__subhead">Let us help you!</div>
	</td>
</tr>
<tr>
	<td height="20"></td>
</tr>
<tr class="content">
	<td align="center">
		<table align="center" width="460" cellspacing="0" cellpadding="0" class="content__steps"><tr><td>
			<div class="content__step">
				<span>1.&nbsp;</span>  Copy your Activation Code: <b><%activationcode%></b>
			</div>
		</td></tr><tr><td>
			<div class="content__step">
				<span>2.&nbsp;</span>  Open MacKeeper (<a href='https://mackeeper.com/download' target="_blank">or download here</a>)
			</div>
		</td></tr><tr><td>
			<div class="content__step">
				<span>3.&nbsp;</span> Paste your Activation Code into MacKeeper:
			</div>
		</td></tr></table>
	</td>
</tr>
<tr>
	<td height="40"></td>
</tr>
<tr class="content">
	<td align="center">
		<img src="img/screen.jpg"  alt="">
	</td>
</tr>
<tr>
	<td height="31"></td>
</tr>
